@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/home/contact</small></h1>
        <p>Ceci est le contenu de la vue Home, action Contact</p>
    </div>
</div>
